{% extends layout %}

{% block title %}
  About - Keron Therapeutic Massage
{% endblock %}

{% block pagetitle %}
  About Me
{% endblock %}

{% block content %}
  <div class="span8">
    <p>Raelynn Keron, Licenced Massage Therapist</p>
    <p>CAMTC Certificate# 43533</p>
    <p>Education: 500 hour Massage Therapy Program, Healing Hands School of Holistic Health in Escondido, CA completed March 2013</p>
    <p>Philosophy: Our bodies are amazing and the capacity to heal is astounding. I feel so honored and humbled to be a part of each person's healing, whether it's an injury, chronic pain or tension, routine self-care, or emotional stress that is manifesting physically. In return for clients' trust in me as a therapist, I will honor and respect them and their needs as a clients. I will always be conscious of comfort, special requests, and privacy in each session. I will use our time effectively, utilizing a combination of techniques I believe to be most beneficial.</p>
    <p>I believe massage is a partnership that requires open communication and dedication from both sides to be most effective. I strive to truly understand how clients use their bodies on a daily basis so we can get to the heart of their pain and discomfort and really begin to heal deeper issues rather than simply treat symptoms. Whether my client is an athlete, office worker, driver, or house wife, I will learn everything I can about the body mechanics involved to help understand the source of the problem. I rely on clients to communicate as much of this information as possible and start to think about how they use their bodies as well. I encourage communication before, during, and after a massage to ensure we're meeting our goals. Together we can help create lasting change and relief.</p>
  </div>
{% endblock %}