{% extends layout %}

{% block title %}
  About - Keron Therapeutic Massage
{% endblock %}

{% block pagetitle %}
  About Me
{% endblock %}

{% block content %}
  {# Testimonial Carousel Start #}

   <div class="projects-list testimonial-carousel">
        <div class="list_carousel">
          <span class="carousel-title">Testimonials</span>

          <ul class="caroufredsel">

            <!-- project Start -->
            <li>
              <div class="description">
                <h3>
                  <a href="/index.php/testimonials">
                    Sydney W.
                  </a>
                </h3>
                <span>"I can say that having Raelynn as my massage therapist for my 2013 training season made all the difference in the world. She understood how my past injury affected my performance, and helped alleviate new pain that came with my training."</span>
              </div>
            </li>
            <!-- project end -->


            <!-- project Start -->
            <li>
              <div class="description">
                <h3>
                  <a href="/index.php/testimonials">
                    Dave K.
                  </a>
                </h3>
                <span>"Raelynn is a wonderful Massage Therapist! My entire family has been getting treatment from her on a regular basis over the past year. Raelynn is experienced in several massage techniques, enabling her to cater to the individual needs of each member of my family."</span>
              </div>
            </li>
            <!-- project end -->

          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
{#       <div class="clearfix"></div>
 #}

  {# Testimonial Carousel end #}

    <p>Raelynn Keron, Licenced Massage Therapist</p>
    <p>CAMTC Certificate# 43533</p>
    <p>Education: 500 hour Massage Therapy Program, Healing Hands School of Holistic Health in Escondido, CA completed March 2013</p>
    <p>Philosophy: Our bodies are amazing and the capacity to heal is astounding. I feel so honored and humbled to be a part of each person's healing, whether it's an injury, chronic pain or tension, routine self-care, or emotional stress that is manifesting physically. In return for clients' trust in me as a therapist, I will honor and respect them and their needs as a clients. I will always be conscious of comfort, special requests, and privacy in each session. I will use our time effectively, utilizing a combination of techniques I believe to be most beneficial.</p>
    <p>I believe massage is a partnership that requires open communication and dedication from both sides to be most effective. I strive to truly understand how clients use their bodies on a daily basis so we can get to the heart of their pain and discomfort and really begin to heal deeper issues rather than simply treat symptoms. Whether my client is an athlete, office worker, driver, or house wife, I will learn everything I can about the body mechanics involved to help understand the source of the problem. I rely on clients to communicate as much of this information as possible and start to think about how they use their bodies as well. I encourage communication before, during, and after a massage to ensure we're meeting our goals. Together we can help create lasting change and relief.</p>
{% endblock %}