{% extends layout %}

{% block title %}
  Deep Tissue - Keron Therapuetic Massage
{% endblock %}

{% block pagetitle %}
  Modalities - Deep Tissue
{% endblock %}

{% block content %}
  <img src="/img/deeptissue.jpg" alt="Deep Tissue Massage" class="modality-img">
  <div class="modality">
    <p>Deep tissue massage therapy is similar to Swedish massage, but the deeper pressure is beneficial in releasing chronic muscle tension. The focus is on the deepest layers of muscle tissue, tendons and fascia (the protective layer surrounding muscles, bones and joints).</p>
    <p>A study in the Journal of Alternative and Complementary Medicine found that people's blood pressure fell after a single 45 to 60 minute deep tissue massage. Additionally, a 2010 meta-analysis in the Journal of Clinical Psychiatry found that massage modalities like deep tissue reduce stress hormone levels and heart rate while boosting mood and relaxation by triggering the release of oxytocin and serotonin.</p>
    <p>Please talk with your professional massage therapist to see if a deep tissue massage therapy would be beneficial for you.</p>
  </div>
{% endblock %}





