{% extends layout %}

{% block title %}
  Client Forms - Keron Therapuetic Massage
{% endblock %}

{% block pagetitle %}
  Client Forms
{% endblock %}

{% block content %}
    <p>Here are the forms you'll need as one of my clients</p>
    <p>If possible, please fill them out and print them off before your appointment.</p>
    <ul class="forms">
      <li><a href="http://www.abmp.com/members/pdfs/client_information.pdf">First Time Client Health History</a></li>
      <li><a href="http://www.abmp.com/members/pdfs/screening_questionnaire.pdf">Screening Questionnaire</a></li>
      <li><a href="http://www.abmp.com/members/pdfs/body_map.pdf">Body Map</a></li>
      <li><a href="http://www.abmp.com/members/pdfs/physician_permission.pdf">Physicians Permission</a></li>
      <li><a href="http://www.abmp.com/members/pdfs/physician_referral.pdf">Physicians Referral</a></li>
    </ul>
{% endblock %}

