{% extends layout %}

{% block pagetitle %}
    Welcome
{% endblock %}

{% block content %}
{# Testimonial Carousel Start #}

<div class="testimonials_wrapper">
  <h4 class="testimonials_header">
    <a href="/index.php/testimonials">Testimonials</a>
  </h4>
  <ul class="testimonial_carousel">
    <li>
      <div class="description">
        <h4 class="testimonial_name">
          <a href="/index.php/testimonials">
            Sydney W.
          </a>
        </h4>
        <span class="testimonial_description">"I can say that having Raelynn as my massage therapist for my 2013 training season made all the difference in the world. She understood how my past injury affected my performance, and helped alleviate new pain that came with my training."</span>
      </div>
    </li>

    <li>
      <div class="description">
        <h4 class="testimonial_name">
          <a href="/index.php/testimonials">
            Dave K.
          </a>
        </h4>
        <span class="testimonial_description">"Raelynn is a wonderful Massage Therapist! My entire family has been getting treatment from her on a regular basis over the past year. Raelynn is experienced in several massage techniques, enabling her to cater to the individual needs of each member of my family."</span>
      </div>
    </li>
 </ul>
</div>

{# Testimonial Carousel end #}

<p>My name is Raelynn and I would love to help you with your bodywork needs.</p>
<p>Sore back, neck, or shoulder? Old injury? Experiencing a high level of  stress? Just need some time to unwind? I can help alleviate some of these  issues with a variety of massage techniques. I specialize in deep tissue,  sports, shiatsu, and circulatory massages. I usually combine techniques into a customized massage, but if you have a preference for one style, I will be happy to accommodate you.</p>
<p>When I work with you, I will ask several questions up front in order to fully understand the situation that created the issue. Then I will develop a  customized massage to address the problem. One session may be enough,  however, more chronic problems often take more than one session. You will be the judge of that.</p>
<p>I truly enjoy the challenge of designing a healing plan and working together to increase your quality of life. I believe each person is in  control of his or her own healing journey and feel privileged to be able to  help in that process.</p>
<p>I look forward to meeting you!</p>
{% endblock %}
