<!DOCTYPE html>
<!--[if IE 8]>  <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>  <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html>  <!--<![endif]-->
  <head>

    <!-- Basic -->
    <meta charset="utf-8">
    <title>{% block title %}Keron Therapeutic Massage{% endblock %}</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Chloe - HTML5 Template">
    <meta name="author" content="Zafer Yardimci">


    <!-- Web Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,600,600italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>


    <!-- Libs CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/template-responsive.css">

    <!-- Theme Colors CSS -->
    <link rel="stylesheet" href="/css/colors.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Colorbox Css Skin -->
    <link rel="stylesheet" href="/css/colorbox/skin_3/colorbox.css">


    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">


    <!-- The HTML5 Shim for older browsers -->
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

    <!-- Facebook OpenGraph Tags - Go to http://developers.facebook.com/ for more information.
    <meta property="og:title" content="Chloe Website Template."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.example.com" />
    <meta property="og:image" content="http://www.example.com" />
    <meta property="og:site_name" content="Chloe"/>
    <meta property="fb:app_id" content=""/>
    <meta property="og:description" content="Chloe - HTML5 Template"/>
    -->

  </head>
  <body>

  <!-- Header Start -->
  <header data-spy="affix" data-offset-top="210">

    <div class="container">
      <div class="header-content">

        <!-- header top start -->
        <div class="row-fluid header-top">


          <!-- Author Infos Start -->
          {% block authorinfo %}
          <div class="span7 left-shadow">

            <!-- find me button Start -->
            <div id="find_me">
              <div id="button-shadow"></div>
              <a><i class="icon-location-arrow"></i> Find Me</a>
            </div>
            <!-- find me button end -->

            <!-- author photo Start -->
            <div class="pull-left author-image-column">
{#               <div class="author-background"></div>
 #}              <img src="/img/raelynn.jpg" alt="Raelynn Keron" id="author-image"/>
            </div>
            <!-- author photo end -->

            <div class="pull-left company_name">
              <h2>Keron</br>Therapeutic Massage</h2>
              <h4>Raelynn Keron, LMT</h4>
            </div>
            <div class="clearfix"></div>
            <!-- author name and description end -->
          </div>
          {% endblock %}
          <!-- Author Infos End -->


          <!-- Contact Infos Start -->
          <div class="span5 text-right" id="contact">

            <div>
              <i class="icon-phone"></i> 360-485-5384
            </div>

            {# <div class="address">
              <i class="icon-map-marker"></i> 55 Sesame street, Lorem Ipsum
            </div> #}

            <div class="hr hr_right"></div>

            <div class="email">
              <a href="mailto:raerin26@yahoo.com">
                <i class="icon-envelope"></i> raerin26@yahoo.com
              </a>
            </div>

          </div>
          <div class="clearfix"></div>
          <!-- Contact Infos End -->


          <!-- Google Map Area Start -->
          <div id="header_opened"></div>
          <!-- Google Map Area End -->

        </div> <!-- header top end -->



        <!-- Search Form Start -->
        {# <form method="post" id="search-form">
          <input placeholder="Search.." type="text" />
        </form> #}
        <!-- Search Form End -->



        <!-- header bottom start -->
        <div class="row-fluid header-bottom">

          <div class="mini_header">
            <h4 class="mini_business">Keron Therapeutic Massage<span class="mini_name"> / Raelynn Keron, LMT</span></h4>
          </div>

          <div class="new-client">
            <a href="/index.php/rates"><p>New Client Discount: $45 / hour</p></a>
          </div>


          <!-- breadcrumb Start -->
          {# <div class="pull-left">
            <div class="custom-breadcrumb">
              <a href="#">Home</a> <i class="icon-double-angle-right"></i> Page
            </div>
          </div> #}
          <!-- breadcrumb End -->


          <!-- Social Icons Start -->
          <div class="pull-right text-right">
            <a href="#" id="twitter-icon"></a>
            <a href="#" id="facebook-icon"></a>
            <a href="#" id="rss-icon"></a>
            <a href="#" id="google-icon"></a>
          </div>
          <!-- Social Icons End -->

          <div class="clearfix"></div>


        </div> <!-- header bottom End -->


      </div> <!-- .header-content End -->
    </div> <!-- .container End -->
  </header>
  <!-- Header End -->


  <!-- Main container Start -->
  <div class="container main-container">

    <!-- Nav Start -->
    <nav>
      <div class="affix nav-affix">

        <!-- Logo Start -->
        <div id="logo">
          <a href="/">
            <img src="/img/koru.jpg" alt="Koru" class="logo"/>
          </a>
        </div>
        <!-- Logo End -->


        <!-- Menu Start -->
        <ul class="menu">

          <li><a href="/"><i class="icon-home"></i> Home</a></li>

          <li><a href="/index.php/about"><i class="icon-person"></i> About</a>
            {# <ul>
              <li><a href="#"><!-- <i class="icon-briefcase"></i> --> Education</a></li>
              <li><a href="#"><!-- <i class="icon-star"></i> --> Personal Info</a></li>
            </ul> #}
          </li>

          <li>
            <a href="#"><i class="icon-star"></i> Rates & Services</a>
            <ul>
              <li><a href="/index.php/rates"><!-- <i class="icon-pencil"></i> --> Rates</a></li>
              <li><a href="/index.php/deeptissue"><!-- <i class="icon-picture"></i> --> Deep Tissue</a></li>
              <li><a href="/index.php/swedish"><!-- <i class="icon-play-sign"></i> --> Circulatory</a></li>
              <li><a href="/index.php/sports"><!-- <i class="icon-music"></i> --> Sports</a></li>
              <li><a href="/index.php/shiatsu"><!-- <i class="icon-quote-left"></i> --> Shiatsu</a></li>
            </ul>
          </li>


          <li><a href="/index.php/testimonials"><i class="icon-comments-alt"></i> Testimonials</a>
          </li>

          <li>
            <a href="/index.php/forms"><i class="icon-pencil"></i> Client Forms</a>
              {# <ul>
                <li><a href="#"><!-- <i class="icon-pencil"></i> --> First-time Client Health History</a></li>
                <li><a href="#"><!-- <i class="icon-picture"></i> --> Screening Questionnaire</a></li>
                <li><a href="#"> <!-- <i class="icon-play-sign"></i> --> Body Map for Clients</a></li>
                <li><a href="#"><!-- <i class="icon-music"></i> --> Physician's Permission</a></li>
                <li><a href="#"><!-- <i class="icon-quote-left"></i> --> Physician's Referral form</a></li>
              </ul> #}
          </li>

          <li><a href="/index.php/contact"><i class="icon-phone-sign"></i> Contact Me</a></li>

        </ul>
        <!-- Menu End -->
        <a href="http://www.abmp.com/home/"><img src="/img/abmp.png" alt"Member ABMP" class="abmp"></a>

      </div>
    </nav>
    <!-- Nav End -->


    <!-- Section Start -->
    <section>

      <!-- Page start -->
      <article>

        <h2 class="page-heading">{% block pagetitle %}{% endblock %}</h2>
        {% block content %}{% endblock %}

      </article>
      <!-- Page end -->

    </section>
    <!-- Section End -->



    <!-- footer Start -->
    <footer>
      <div class="row-fluid">

        <div class="span6">
          &copy; Copyright {{ "now"|date("Y") }}. All Rights Reserved.
        </div>

        <div class="span6 text-right">
          Coded and designed by <a href="http://www.zaferyardimci.com" target="_blank">Zafer Yardimci</a>
        </div>

      </div>
    </footer>
    <!-- footer End -->


  </div><!-- Main container End -->


  <!-- Libs -->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/colorbox.js"></script>

  <!-- include Caroufredsel plugin -->
  <script type="text/javascript" src="/js/carouFredSel.js"></script>
  <script type="text/javascript" src="/js/touchSwipe.js"></script>

  <!-- include Portfolio filter plugin -->
  <script type="text/javascript" src="/js/mixitup.js"></script>


  <!-- theme scripts -->
  <script src="/js/scripts.js"></script>

  <!-- custom.js for you can add your custom codes -->
  <script src="/js/custom.js"></script>


  </body>
</html>