{% extends layout %}

{% block title %}
  Rates - Keron Therapeutic Massage
{% endblock %}

{% block pagetitle %}
  Rates & Services
{% endblock %}

{% block content %}
    <h4>Investing in massage is an investment in your health.</h4><br>
    <table class="service-table">
      <thead>
        <tr>
          <th>Services</th>
          <th>Rates</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Personalized Massage</td>
          <td>$1/minute, 45 min. minimum</td>
        </tr>
        <tr>
          <td>First Time Clients</td>
          <td>.75/minute, 45 min. minimum</td>
        </tr>
        <tr>
          <td>2 hours+</td>
          <td>10% off*</td>
        </tr>
        <tr>
          <td>Travel over 10 miles</td>
          <td>$5 flat fee**</td>
        </tr>
      </tbody>
    </table><br>
    <p>*The two hours is not limited to one person.</p>
    <p>**I am a mobile massage therapist so I only charge extra for mileage beyond 10  miles from my home.</p>

    <h3 class="modalities_heading">Modalities</h3>

      <ul class="modalities_carousel">
        <li>
          <div class="modalities_img">
            <img src="/img/deeptissue.jpg">
          </div>
          <div class="modalities_description">
            <a href="/index.php/deeptissue"><h4>Deep Tissue</h4></a>
            <span>Deep tissue massage therapy is similar to Swedish massage, but the deeper pressure is beneficial in releasing chronic muscle tension. The focus is on the deepest layers of muscle tissue, tendons and fascia (the protective layer surrounding muscles, bones and joints).</span>
          </div>
        </li>

        <li>
          <div class="modalities_img">
            <img src="/img/swedish.jpg">
          </div>
          <div class="modalities_description">
            <a href="/index.php/swedish"><h4>Circulatory</h4></a>
            <span>Circulatory massage is a very relaxing and therapeutic style of bodywork. Oil or lotion is applied to the skin so techniques such as rolling, kneading and percussion can be applied with ease. These movements promote general relaxation and improve blood circulation and assist the lymphatic system in cleansing the body of toxins.</span>
          </div>
        </li>

        <li>
          <div class="modalities_img">
            <img src="/img/sports.jpg">
          </div>
          <div class="modalities_description">
            <a href="/index.php/sports"><h4>Sports</h4></a>
            <span>Sports massage therapy is geared toward athletes of every kind, from world-class professionals to weekend joggers. The particulars of the sports massage technique are specific to the athlete's sport of choice. Focusing on areas of the body that are overused and stressed from repetitive and often aggressive movements.</span>
          </div>
        </li>

        <li>
          <div class="modalities_img">
            <img src="/img/shiatsu.jpg">
          </div>
          <div class="modalities_description">
            <a href="/index.php/shiatsu"><h4>Shiatsu</h4></a>
            <span>Shiatsu or “finger pressure” massage, sometimes called Zen shiatsu, is a Japanese form of physiotherapy. It is often described as the equivalent of acupressure, but this comparison is not entirely accurate, because the technique looks beyond specific pressure points, incorporating other methods such as stretching, breathing and rotating for a more whole-body approach to restoring energy balance.</span>
          </div>
        </li>
      </ul>
{% endblock %}