{% extends layout %}

{% block title %}
  Shiatsu - Keron Therapuetic Massage
{% endblock %}

{% block pagetitle %}
  Modalities - Shiatsu
{% endblock %}

{% block content %}
  <img src="/img/shiatsu.jpg" alt="Shiatsu Massgae" class="modality-img">
  <div class="modality">
    <p>Shiatsu or “finger pressure” massage, sometimes called Zen shiatsu, is a Japanese form of physiotherapy. It is often described as the equivalent of acupressure, but this comparison is not entirely accurate, because the technique looks beyond specific pressure points, incorporating other methods such as stretching, breathing and rotating for a more whole-body approach to restoring energy balance. Although many of the claimed benefits have yet to be conclusively proven, advocates assert that it can work to treat many different spiritual, physical and emotional problems. Generally considered to be safe, its roots are thousands of years old, and today, the technique is growing in popularity around the world.</p>
  </div>
{% endblock %}





