{% extends layout %}

{% block title %}
  Sports - Keron Therapuetic Massage
{% endblock %}

{% block pagetitle %}
  Modalities - Sports
{% endblock %}

{% block content %}
  <img src="/img/sports.jpg" alt="Sports Massage" class="modality-img">
  <div class="modality">
    <p>Sports massage therapy is geared toward athletes of every kind, from world-class professionals to weekend joggers. The particulars of the sports massage technique are specific to the athlete's sport of choice. Focusing on areas of the body that are overused and stressed from repetitive and often aggressive movements.</p>
    <p>Aspects of sports massage therapy are gaining popularity as useful components in a balanced training regimen. Sports massage therapy can be used as a means to enhance pre-event preparation and reduce recovery time for maximum performance during training or after an event. Athletes have discovered that specially designed sports massage promotes flexibility, reduces fatigue, improves endurance, helps prevent injuries and prepares their body and mind for optimal performance.</p>
    <p>One of the key benefits of Sports massage therapy compared to other modalities is its ability to target muscle-tendon junctions. A 2010 study in the journal of Strength and Conditioning Research found that even a 30-second massage improved hip-flexor range of motion. Another study conducted by Margaret Jones, Ph.D. of the American College of Sports Medicine, demonstrated a notable trend toward decreased muscle soreness in the athletes who received massage either before or after exercise.</p>
    <p>For anyone participating in regular physical activity, Sports massage therapy every week or two may be a great addition to your normal regimen. It's best to talk with one of our professional massage therapists to find a plan that will work best with your schedule, level of activity and budget.</p>
  </div>
{% endblock %}





