{% extends layout %}

{% block title %}
  Circulatory - Keron Therapuetic Massage
{% endblock %}

{% block pagetitle %}
  Modalities - Circulatory
{% endblock %}

{% block content %}
  <img src="/img/swedish.jpg" alt="Swedish Massage" class="modality-img">
  <div class="modality">
    <p>Circulatory massage is a very relaxing and therapeutic style of bodywork. Oil or lotion is applied to the skin so techniques such as rolling, kneading and percussion can be applied with ease. These movements promote general relaxation and improve blood circulation and assist the lymphatic system in cleansing the body of toxins. Clients undress according to their comfort level and are appropriately draped with a sheet. Circulatory Massage can be performed at varying degrees of depth to the body, please specify at the time of booking if you are in need of a deeper touch.</p>
  </div>
{% endblock %}





