{% extends layout %}

{% block title %}
  Testimonials - Keron Therapeutic Massage
{% endblock %}

{% block pagetitle %}
  Testimonials
{% endblock %}

{% block content %}
  <div class="span8 customer-testimonial">
    <h4>Sydney W.</h4>
  </div>
  <div class="span8 class testimonial">
    <p>"Two years ago, I suffered a major back injury. I am now fully recovered, however, at times there is some residual soreness. As a competitive skydiver, my team training demands a lot from me physically, and I can say that having Raelynn as my massage therapist for my 2013 training season made all the difference in the world. She understood how my past injury affected my performance, and helped alleviate new pain that came with my training. I would recommend Raelynn to anyone and everyone - whether it's a relaxing massage or one driven to relieve pain and prevent further injury, she is absolutely the woman for the job."</p>
  </div>

  <div class="span8 customer-testimonial">
    <h4>Dave K.</h4>
  </div>
  <div class="span8 class testimonial">
    <p>To all you mother fuckers who want a massage:</p>
    <p>"Raelynn is a wonderful Massage Therapist! My entire family has been getting treatment from her on a regular basis over the past year.</p>
    <p>First and foremost, she is a skilled therapist who has increased the quality of our lives. Raelynn is experienced in several massage techniques, enabling her to cater to the individual needs of each member of my family. Additionally, as a traveling sales professional I have a highly unpredictable and difficult schedule. Fortunately for me, Raelynn made herself very flexible to my schedule and made it all possible for myself and my family.</p>
    <p>I would highly recommend Raelynn to anyone considering using a Massage Therapist. She is very talented, professional, skilled and flexible to your needs. Not to mention an all around great person to interact with. I will always appreciate all that she has done for my family."</p>
    <p>Dave K.</p>
    <p>P.S. Motha fucka motha fucka motha fucka!!!!!!</p>
  </div>
{% endblock %}