{% extends layout %}

{% block title %}
  Thank You - Keron Therapeutic Massage
{% endblock %}

{% block pagetitle %}
    Thank You
{% endblock %}

{% block content %}
  <p>Thank you for your message. I'll get back to you as soon as I can.</p>
{% endblock %}
