/* Add here all your CSS customizations */
article {
  padding-left: 26px;
  padding-right: 30px;
  padding-top: 20px;
}
.abmp {
  margin-left: 70px;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.menu {
  padding-bottom: 5px;
}

section article .page-heading {
  margin-bottom: 30px;
}

section article p {
  margin-bottom: 30px;
}

.service-table {
  border: solid 1px #000;
  width: 50%;
}

.service-table thead {
  border-bottom: solid 2px #666;
  background-color: rgba(0, 102, 102, .2);
}

.service-table tr, td {
  border: solid 1px #999;
  padding: 5px 10px;
}

.new-client a {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .02em;
}

.author-info {
  font-variant: small-caps;
  letter-spacing: .05em;
}

.forms a {
  color: #009999;
}

.forms a:hover {
  color: #006666;
}

.caroufredsel_wrapper {
  background: none;
}

section article ul li {
background: none;
}

.modalities_heading {
  padding-left: 10px;
  border-bottom: solid 1px #666;
}

.modalities_description {
 width: 400px;
 float: left;
 margin-left: 40px;
 text-align: center;
}

.modalities_description a {
  color: #009999;
}

.modalities_description a:hover {
  color: #006666;
}

.modalities_img {
  width: 300px;
  height: 240px;
  float: left;
}

.modalities_img img {
  width: 100%;
  height: 100%;
}

.modalities_carousel {
  margin: 0;
  height: 240px;
}

.modalities_carousel li {
  width: 788px;
  height: 240px;
  padding: 0;
  margin: 5px;
  border: solid 2px #999;
}


.modality-img {
  float: right;
  margin: 0 0 5px 5px;
  border: solid 1px #999;
}

.testimonial_carousel {
  margin-right: 0;
  width: 240px;
  height: 250px;
  float: right;
}

.testimonial_carousel li {
  display: inline-block;
  height: 210px;
  width: 210px;
  padding-left: 0;
}


/*.customer-testimonial {
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
}

.testimonial {
  margin-bottom: 20px;
  font-weight: normal;
}

.modalities {
  border-bottom: 1px solid #999;
}

.caroufredsel li {
  background-image: none;
}

.projects-list {
  position: relative;
  height: 260px;
  border: none;
  background: none;
  padding: 0;
}

.projects-list li {
  width: 815px;
  border: none;
  margin: 0;
}

.projects-list li:hover {
  border-bottom: none;
}

.projects-list li img {
  border-bottom: none;
  width: 40%;
  height: 238px;
  float: left;
}

.projects-list li .description {
  width: 60%;
  height: 238px;
  float: left;
  margin-top: 5px;
}

.projects-list li .description a {
  color: #009999;
}

.projects-list li .description a:hover {
  color: #006666;
}

.projects-list li:hover > .description a {
  color: #006666;
}

.projects-list .link span, article .link span, .projects-list .zoom span, article .zoom span, .projects-list .video span {
  background-image: none;
}


.rates-list {
  background: none;
}

.rates-list .caroufredsel_wrapper {
  background: none;
}

.rates-list li {
  width: 791px;
  height: 228px;
}

.testimonial-carousel {
  width: 300px;
  height: 220px;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.testimonial-carousel li {
  width: 264px;
  background-image: none;
}

.testimonial-carousel li .description {
  width: 100%;
  height: 100%;
}

.list_carousel {
  text-align: center;
}

.list_carousel ul {
  padding-top: 0px;
}

.description {
  margin-left: 8px;
}

.description h3 {
  margin: 0 0;
}

.projects-list li {
}*/

