/* Add here all your CSS customizations */

.service-table {
  border: solid 1px #000;
  width: 50%;
}

.service-table thead {
  border-bottom: solid 2px #666;
  background-color: rgba(0, 102, 102, .2);
}

.service-table tr, td {
  border: solid 1px #999;
  padding: 5px 10px;
}

.new-client a {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .02em;
}

.author-info {
  font-variant: small-caps;
  letter-spacing: .05em;
}

.forms a {
  color: #009999;

}

.forms a:hover {
  color: #006666;
}

.abmp {
  position: relative;
  left: 669px;
}

.customer-testimonial {
  border-bottom: solid 1px #ccc;
  margin-bottom: 5px;
}

.testimonial {
  margin-bottom: 20px;
}

