/* css stolen from bootstrap */
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11 {
  float: left;
}

.col-md-1 {
  width: 8.333333333333332%;
}
.col-md-2 {
  width: 16.666666666666664%;
}
.col-md-3 {
  width: 25%;
}
.col-md-4 {
  width: 33.33333333333333%;
}
.col-md-5 {
  width: 41.66666666666667%;
}
.col-md-6 {
  width: 50%;
}
.col-md-7 {
  width: 58.333333333333336%;
}
.col-md-8 {
  width: 66.66666666666666%;
}
.col-md-9 {
    width: 75%;
}
.col-md-10 {
  width: 83.33333333333334%;
}
.col-md-11 {
  width: 91.66666666666666%;
}
.col-md-12 {
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 65%;
}
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 65%;
}
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 65%;
    margin-left: 282px;
}
}

body {
  background-image: url('../img/moss.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Gill Sans, sans-serif
}

.header {
  background-color: #006666;
  color: #ffcc99;
  position: absolute;
  margin-top: 50px;
  margin-left: -8px;
  width: 100%;
}

.header h1 {
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: .1em;
}

.header p {
  margin-top: 55px;
  margin-bottom: 5px;
}

.external_links {
  position: absolute;
  left: 485px;
  top: 70px;
  opacity: .6;
}

.external_links ul a {
  float: left;
}

.external_links ul img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.external_links img:hover {
  background-color: #ffcc99;
  opacity: .5;
}

.portrait {
  width: 100%;
  height: 100%;
  border: solid 1px #ffff99;
  border-radius: 10px;
  box-shadow: 0 0 .6em #ffff99;
}

.navbar {
  background-color: #ffff99;
  width: 15%;
  height: 100%;
  position: fixed;
  margin-left: 94px;
  margin-top: -8px;
}

.navbar-head {
  padding: 0 0;
}

.navbar-head img {
  margin: 47px 22.5px 40px 22.5px;
  width: 75%;
  border-radius: 10px;
}

.button {
  width: 180px;
  height: 40px;
  text-align: center;
  position: relative;
}

.button a {
  color: #006666;
  text-decoration: none;
  position: relative;
  top: 11px;
}

.button:hover {
  box-shadow: inset 0 0 .8em #006666;
}

.new-client-discount {
  background-color: #006666;
  margin-top: 20px;
  padding: 5px 0 5px 5px;
  font-style: italic;
}

.new-client-discount a {
  color: #ffcc99;
  text-decoration: none;
  font-weight: 500;
  text-shadow: -.1em -.1em .2em #000;
}

.title {
  margin-top: 200px;
}







.footer {
  background-color: #006666;
  width: 100%;
  position: relative;
  top: 120px;
  padding: 15px 10px;
  margin-left: -8px;
  word-spacing: .2em;
}

.copyright {
  color: #ffcc99;
  text-align: left;


}

.footer a {
  color: #ffff99;
  text-align: right;
}





