{% extends layout %}

{% block content %}
  <div class='col-md-11 title'>
    <h1>Welcome</h1>
  </div>
  <div class='col-md-11'>
    <p>My name is Raelynn and I would love to help you with your bodywork needs.</p>
    <p>Sore back, neck, or shoulder? Old injury? Experiencing a high level of stress? Just need some time to unwind? I can help alleviate some of these issues with a variety of massage techniques. I specialize in deep tissue, sports, shiatsu, and circulatory massages. I usually combine techniques into a customized massage, but if you have a preference for one style, I will be happy to accommodate you.</p>
    <p>When I work with you, I will ask several questions up front in order to fully understand the situation that created the issue. Then I will develop a customized massage to address the problem. One session may be enough, however, more chronic problems often take more than one session. You will be the judge of that.</p>
    <p>I truly enjoy the challenge of designing a healing plan and working together to increase your quality of life. I believe each person is in control of his or her own healing journey and feel privileged to be able to help in that process.</p>
    <p>I look forward to meeting you!</p>
  </div>
{% endblock %}
